fastapi
uvicorn

langchain
langchain-core
langchain-groq

openai

# Use cpu-only tensorflow (smaller, works on Render free tier)
tensorflow-cpu
opencv-python-headless
deepface

pydantic
python-dotenv
numpy
Pillow